*.phar
*.zip
build/artifacts
phpunit.xml
phpunit.functional.xml
test_services.json
.idea
.php_cs.cache
.phpunit.result.cache
atlassian-ide-plugin.xml
.DS_Store
.swp
.build
composer.lock
vendor
src/package.xml
clover.xml
/.project
/.buildpath
/.settings